<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ConnectionString" value="Data Source=DESKTOP-3GLK44F;Initial Catalog=AttendanceDb;Persist Security Info=True;User ID=sa;Password=admin123;Encrypt=False" />
        <add key="ScheduleTime" value="1" />
        <add key="RecordsToBeRead" value="20"/>
        <add key="LogsBaseDir" value="C:\\DailyUploaderLogs" />
        <add key="ProcessedHashBaseDir" value="C:\\ProcessedHash" />
        <add key="ReadAttendanceDaysCount" value="7"/>
        <add key="UserEmail" value="admin" />
        <add key="UserPassword" value="admin" />
    </appSettings>
</configuration>